.main-navbar{
    padding: .5rem 1.5rem ;
    position: fixed;
    width: 100%;
    padding-bottom: 0;
    display: flex;
    background-color: white;
    z-index: 1;
}
.offset{
    height: 59px;
}
.mobile-nav{
    bottom: -2px;
    background-color: white;
    width: 100%;
}
.nav-offset{
    width: 100%;
    height: 46px;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    gap: 1.4rem;
}
.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    border-bottom: 1px solid white;
}
.nav-item > svg{
    fill: rgb(89, 89, 89);
}

.user-on-nav{
    margin-top: -1.9px;
    position: relative;
    cursor: pointer;
}
.user-on-nav > .drop-1 > p ,.nav-item > p,.nav-title,.nav-item,.nav-items{
    cursor: pointer;
}
.user-on-nav:hover > .drop-1 > p ,.nav-item:hover > p,.nav-title:hover,.my-dropdown-item > p:hover{
    font-weight: 600;
}
.my-dropdown{
    width: max-content;
    padding: .3rem 1rem;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    top: 100%;
    right: 0;
}
/* .my-dropdown::before{
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
} */
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile > img{
    margin-left: -3px;
}
.my-dropdown-item{
    margin: .3rem 0;
}
.search-navbar{
    margin-top: 6px;
    display: flex;
    gap: 1px;
    align-items: center;
    margin-left: 8px;
    height: min-content;
    padding: .3rem .5rem;
    border-radius: 3px;
    background-color: var(--primary-blue-gray);
}
.nav-title{
    margin-top: 7px;
}
.mobile-nav > .nav-item{
    padding-top: 5px;
}
.mobile-nav > .nav-item > p{
    font-size: x-small !important;
}
.mobile-nav > .nav-item{
    min-width: 52px;
}
.nav-search{
    margin-left: 4px;
    border: none;
    background-color: var(--primary-blue-gray);
}
@media (max-width:690px) {
    .search-navbar{
        display: none;
    }
    .search-medium{
        display: block !important;
    }
    .nav-items{
        margin: 0 0 0 auto;
    }

    .main-navbar{
        padding: .3rem .8rem;
        /* background-color: var(--primary-blue-gray); */
    }
    .search-medium > svg{
        margin-left: .4rem;
    }
    .nav-item-active{
        border-top: 2px solid var(--primary-color);
    }
}
@media (min-width:576px){
    .nav-item-active{
        border-bottom: 2px solid var(--primary-color);
    }
}
.search-medium{
    width: 95%;
    margin-top: .1rem;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.n-footer{
    position: absolute;
    bottom: 14px;
    width: 100%;
}
.n-footer > h6{
    padding: .5rem 1rem;
    margin-top: .5rem;
}

.nav-search:focus .search-navbar{
    border: 1px solid var(--primary-color);
}
.nav-search:focus{
    outline: none;
}
.lds-spinner4 div::after{
    height: 7px !important;
    top: 3px !important;
    left: 15px !important;
}
.lds-spinner4{
    height: 1px !important;
}
.lds-spinner4 div{
    transform-origin: 15px 0px !important;
}
#hidden-search-loading div::after{
    background-color: inherit !important;
}
.notification-counter-mobile{
    position: absolute;
    color: white;
    padding: .25rem;
    right: 20px;
    width: min-content;
    height: min-content;
    background-color: red;
    border-radius: 100%;
}
.notification-counter{
    width: min-content;
    height: min-content;
    padding: .3rem;
    background-color: red;
    right: 30px;
    top: 2px;
    border-radius: 100%;
    position: absolute;
    color: white;
    font-family: var(--app-font);
}



