.company-main{
    background-color: white;
    color: black;
}
.banner-company{
    max-width: 100%;
}
.holder{
    position: relative;
    max-width: 100%;
}
.company-logo{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    left: 42px;
    top: 20%;
}
.main-texts-holder{
    margin-top: 70px;
    padding: 1rem;
    margin-left: 1.5rem;
}
.gray{
    color: gray;
}
.company-edit{
    justify-content: flex-end;
    padding: 0 1rem;
    padding-top: .8rem;
    gap: .8rem;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 768px) {

    .main-texts-holder{
        margin-left: .2rem;
    }
    .company-logo{
        width: 20vw;
        border:  1px solid rgba(128, 128, 128, 0.332);
        left: 25px;
        
    }
}