.employee-sidebar {
    font-family: var(--app-font);
    background-color: var(--primary-color2);
    color: white;
    padding: 0 .5rem;
    min-height: calc(100vh - 56px);
}

.app-color {
    color: var(--primary-color);
}

.side-item {
    display: flex;
    padding: .4rem .6rem;
    margin-left: .2rem;
    gap: .3rem;
    align-items: center;
    cursor: pointer;
    margin-top: .3rem;
}

.sidebar-container {
    margin-left: .15rem;
}

.side-item:hover {
    background-color: var(--primary-color3);
}

.active {
    background-color: var(--primary-color3);
    padding-left: 1rem;
}

@media (max-width: 768px) {

    .sidebar-mobile {
        position: absolute;
        z-index: 2;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-252px);
    }
    .show-sidebar{
        transform: translateX(0px);
    }
}