.main-post-job > .header{
    display: flex;
    gap: .7rem;
    align-items: center;
}
@media (min-width:700px) {
    
    .form-label {
        margin-bottom: 0.5rem;
        font-size: x-large;
        font-weight: 600;
    }
    .input-job-form{
        padding: .2rem .6rem;
        font-size: large;
    }
}
.p-inp{
    min-width: auto !important;
}
.input-job-form{
    padding: .2rem .3rem;
    min-width: 75%;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}
.input-job-form:focus{
    outline: none;
}
.c-btn{
    position: absolute;
    top: 88%;
    left: 71%;
}
.c-btn2{
    position: absolute;
    top: 88.7%;
    width: fit-content !important;
    left: 300px;
}
.skill-card{
    display: flex;
    align-items: center;
    gap: .4rem;
    background-color: green;
    width: fit-content;
    padding: .5rem .9rem;
    color: white;
    font-family: var(--app-font);
    border-radius: 14px;
    cursor: pointer;
}
.skill-card:hover{
    background-color: rgb(9, 167, 9);
}

.skill-card > svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.skill-container{
    padding: .8rem;;
}
.form-one{
    max-height: 500px;
    overflow-y: scroll;
    padding-bottom: .5rem;
}
.skill-parent{
    position: relative;
    width: 75%;
    padding: 0.2rem;
}
.skill-parent input {
    width: 95.1%;
}
.form-2-btns, .form1-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width:762px){
    .form-2-btns, .form1-btn{
        width: 90%;
    }
}
@media (max-width:768px) {
    .input-job-form{
        width: 100%;
    }
    
}